.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
  height: 100vh;
}

h1 {

}

form {

}

label {

}

input {

}

button {
  
}
